{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-8 m-auto">
    <div class="content-section">
        <h1>About page</h1>
        <p>
            The idea is to create a next generation outlet for music and independent artists. Our platform will allow users to create
            NFT's from music, videos, and digital art, we will make it easy for fans and artists to interact using the blockchain,
            fans can purchase musical nfts and resell for a profit while creators gain royalties from each resell.
        </p>

        <p>
            We want to become a major distributor on of music NFT's and expand this new avenue for artists in this digital boom.
        </p>



        <br>
        <p>Made with &#128150; by DFIPmedia &#9996;</p>
    </div>
</div>


{% endblock %}