{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="col-md-8 m-auto">
    <div class="content-section">
        <h1>About page</h1>
        <p>
            The idea is to create a next generation outlet for independent artists. Our platform will allow users to create
            NFT's from music, videos, and digital art, we will make it easy for fans and artists to interact using the blockchain,
            fans can purchase musical nfts and resell while creators gain royalties from each resell.
        </p>

        <p>
            We Will be a major distributor of music NFT's and expand this new horizon for artists and fans.
        </p>



        <br>
<center><p>Made with &#128150; by Kemar Henry &#9996;</p></center>

    </div>

</div>


{% endblock %}