{% extends "blog/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="flex w-full">
 

 {% include 'blog/partials/post.html' %}
</div>
{% endblock %}

{% block script %}
<script>
  const colors = ['#FB9797', '#FB84BD', '#EA84FB', '#FF6D3F', '#4270E7', 'green', 'blue'];
  document.querySelectorAll('.add-border').forEach(el => {
    el.style.borderTop = `3px solid ${colors[Math.floor(Math.random() * colors.length)]}`;
  });
</script>
{% endblock %}
