{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Post{% endblock %}

{% block content %}
<div class="m-auto w-100 container">
    <div class="content-section">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Vibe</legend>

                {{ form.media }}
                {{ form.title|as_crispy_field }}

                <center style="color:red;"> <b>Upload Video/Picture </b></center>
                 {{ form.vibe|as_crispy_field }}
                {{ form.caption|as_crispy_field }}
                {{ form.link|as_crispy_field }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Post</button>
                <a class="btn btn-danger" href="{% url 'blog-home' %}">Cancel</a>
            </div>
        </form>
        {% if media_type == 'song' %}
            <div id="waveform"></div>
        {% elif media_type == 'picture' %}
            <div class="cover-art">

            </div>
        {% elif media_type == 'video' %}
            {% if video_embed %}
        <div class="video-container">
            {{ video_embed|safe }}
        </div>
    {% else %}
        {# Display regular video field content if not a recognized link #}
        <video controls class="responsive-video">
            <source src="{{ object.vibe.url }}" type="video/mp4">
            Your browser does not support the video element.
        </video>
    {% endif %}
        {% endif %}

    </div>
</div>
{% endblock %}
