{% extends 'blog/base.html' %}

{% block content %}
  <h1>Playlists</h1>
  {% if playlists %}
    <ul>
      {% for playlist in playlists %}
        <li><a href="{% url 'metaversemusic:playlist-detail' playlist.pk %}">{{ playlist.name }}</a></li>
        <div class="simple-audio-player" id="simp" data-config='{"shide_top":false,"shide_btm":false,"auto_load":false}'>
  <div class="simp-playlist">
    <ul>
      <li><span class="simp-source" data-src="{{post.song.url}}">{{post.title}}</span><span class="simp-desc">{{post.artist}}</span></li>

    </ul>
  </div>
</div>
      {% endfor %}
    </ul>
  {% else %}
    <p>No playlists available.</p>
  {% endif %}
{% endblock %}
